.navbar-navbar-expand-lg navbar-dark bg-dark {
  background-color: blue;
}

.container {
  color: white;
  background-image:stretch;
  text-align: right;
  text-align: end;
  width: 100vw;
  height: 30%,

}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.hero-text p {
  font-size: 1.5rem;
}

.card {
 width: 100vw
}

.card-title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero-image{
  min-width: 100vw;

}

.col-md-8{
  justify-content: space-between;
  width:max-content

}
.col-md-4{
  flex-wrap:wrap;
}